arduino/libraries/**
telemetry/display/external/**
**/*~
**/cmake-build-debug/**
**/build/**
eagle/**/*.b#?
eagle/**/*.s#?
eagle/**/*.l#?
eagle/**/*.pro
eagle/**/*.gpi
eagle/**/*.ger
eagle/**/*.dri
eagle/**/*.xln
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries/*
