arduino/libraries/**
display/external/**
**/*~
display/cmake-build-debug/**
display/build/**
eagle/**/*.b#?
eagle/**/*.s#?
eagle/**/*.l#?
eagle/**/*.pro
eagle/**/*.gpi
eagle/**/*.ger
eagle/**/*.dri
eagle/**/*.xln
