firmware/libraries/**
firmware/RemoteSystemsTempFiles
firmware/.metadata
telemetry/display/external/**
**/*~
**/cmake-build-debug/**
**/build/**
hardware/**/*.b#?
hardware/**/*.s#?
hardware/**/*.l#?
hardware/**/*.pro
hardware/**/*.gpi
hardware/**/*.ger
hardware/**/*.dri
hardware/**/*.xln
hardware/**/*.epf
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries/*
